@import 'tailwindcss';

@layer base {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@theme {
  --color-purple1: #3a6eff;
  --color-purple2: #2b52c2;
  --color-purple3: #3a6eff63;
  --color-white: #f5f5f5;
  --color-border: #1a1c1d;
  --color-border2: #3a6eff;

  --color-background1: #08090a;
  --color-background2: #0e0f10;
  --color-background3: #0a0b0c;
}

body,
#root {
  @apply w-full min-h-screen flex items-center justify-center flex-col bg-background1 text-white;
}

#root {
  @apply py-5;
}

*::selection {
  @apply bg-transparent;
}
